/* style.css */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f0e1;
}

.business-card {
    width: 600px;
    height: 300px;
    background-color: #f8f4e3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

.left-side {
    width: 50%;
    padding: 30px;
    border-right: 1px solid #e5d1c3;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    text-align: right; /* Выравниваем текст по правому краю */
top: 50%;             /* Вертикальное выравнивание */
  transform: translateY(-50%); /* Вертикальное выравнивание */
}

.right-side {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    text-align: left; /* Выравниваем текст по левому краю */
    position: absolute;
    right: 0;
    top: 0;
    height: 90%;
}

h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
    font-weight: 700;
    color: #000000;
}

.subtitle {
    font-size: 1.1em;
    color: #777;
    margin-bottom: 20px;
}

.services {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services li {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #000000;
}

.phone,
.instagram,
.email,
.telegram {
    font-size: 1.1em;
    margin-bottom: 8px;
    color: #000000;
}

.cake-icon {
    position: absolute;
  top:190px;      /* Располагаем в верхней части */
  right: 100px;   
}
