html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
}
button {
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.container {
  width: 70%;
  margin: 1% auto;
}
header {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1vw;
}
.logo {
  width: 7rem;
}

.text-header {
  color: #020913;
  font-weight: 600;
  font-size: 2.3rem;
}
nav {
  padding: 0.8rem 0.5rem;
  background-color: #0e2f71;
  margin-top: 1.2rem;
}
nav ul {
  padding-left: 1vw;
  display: flex;
  gap: 2vw;
  height: 25px;
}
nav ul li {
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  text-decoration: underline;
}

.name {
  padding-top: 2rem;
  font-size: 2.7rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid #000;
}
.photo {
  max-width: 40rem;
}
.information {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 40rem 1fr;
}
.container-content {
  padding-left: 0rem;
}
.title {
  font-size: 2rem;
  margin-left: 4rem;
  border-bottom: 0.2rem dashed #000;
  padding-bottom: 0.7rem;
}
.anketa {
  padding-top: 2.5rem;
  display: grid;
  grid-template-rows: repeat(6, auto);
}
.line {
  display: grid;
  padding-bottom: 4%;
  column-gap: 3rem;
  grid-template-columns: 30rem auto;
}
.question {
  font-weight: 600;
  text-align: right;
  font-size: 1.6rem;
}
.answer {
  font-size: 1.6rem;
}

footer.main {
  font-family: sans-serif;
  float: right;
  padding-right: 2.5rem;
  font-size: 1.6rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

h1 {
  text-align: center;
  margin: 10px 0 5px;
}
.image-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.image-box {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  position: relative;
  overflow: hidden;
  background-color: #0e2f71;
  color: white;
  padding: 1.2vw;
  border-radius: 1vw;
  transition: 0.2s;
}

.image-box:hover {
  transition: 0.2s;
  background-color: #345eb0;
}

.image-box img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  border-radius: 1vw;
  border: 2px solid white;
}

.image-box h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  text-align: center;
}

.image-box p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.footer {
  height: 60px;
  background-color: #0e2f71;
}
header {
  margin: 0 10px 0;
}

.card {
  font-family: "Lato";
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 400px;
  background-color: #f8f4e3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  margin: 1% auto;
}

.left-side {
  width: 50%;
  padding: 30px;
  border-right: 1px solid #e5d1c3;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  text-align: right;
}

h10, .subtitle, .services{
	margin-top:40px;
}

.right-side {
  width: 50%;
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  right: 0;
  top: 0;
  height: 90%;
  top: 60%;
  transform: translateY(-63%);
}

h10 {
  font-size: 2.5em;
  margin: 0 0 10px;
  font-weight: 700;
  color: #000000;
}

.subtitle {
  font-size: 1.1em;
  color: #777;
  margin-bottom: 20px;
}

.services {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services li {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #000000;
}

.phone,
.instagram,
.email,
.telegram {
  font-size: 1.1em;
  margin-bottom: 8px;
  color: #000000;
}

.cake-icon {
  position: absolute;
  top: 190px;
  right: 110px;
}
