*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Franklin Gothic", Verdana, Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background: #262626;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: white;
    text-align: center;
    padding: 6rem 0;
    font-size: 2.5rem;
    overflow: hidden;
}
.gallery{
    overflow:hidden;
   padding:10rem 0;
   display: inline-block;
   text-align: center;
}
.gallery .img{
width: 100%;
max-width: 34rem;
height: 22rem;
display: inline-block;
overflow:hidden;
border: .1rem solid #fff;
margin:1rem;
cursor: pointer;
}
.gallery .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .gallery .img img:hover{
        transform: scale(1.2);
        transition: .3s;
    }
   .gallery .text{
    width: 100%;
max-width: 34rem;
height: 22rem;
text-align: center;
font-size: 17px;
display: inline-block;
position:relative;
top: 40%;
transform: translateY(-30%);
   }
   h{
    font-size: 25px;
    position:relative;
top: -10%;
transform: translateY(-50%);
   }
   .text1{
    width: 100%;
    max-width: 34rem;
    height: 22rem;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    position:relative;
    top: 40%;
    transform: translateY(-20%);
   }
   .text1{
    width: 100%;
    max-width: 34rem;
    height: 22rem;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    position:relative;
    top: 40%;
    transform: translateY(-20%);
   }
   .text2{
    width: 100%;
    max-width: 34rem;
    height: 22rem;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    position:relative;
    top: 40%;
    transform: translateY(-15%);
   }
   .text3{
    width: 100%;
    max-width: 34rem;
    height: 22rem;
    text-align: center;
    font-size: 17px;
    display: inline-block;
    position:relative;
    top: 40%;
    transform: translateY(-15%);
   }

   .container{
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
   }
   .container .number {
text-align: center;
padding: 1rem 0;
    font-size: 1.5rem;
    overflow: hidden;
    display: inline-block;
   }
   .container .insta{
    text-align: center;
padding: 1rem 0;
    font-size: 1.5rem;
    overflow: hidden;
    display: inline-block;
    margin-left: 50px;
   }
   .container .img{
    display: inline-block;
    }
    a{
        color:white;
    }
    .container .telega{
        text-align: center;
padding: 1rem 0;
    font-size: 1.5rem;
    overflow: hidden;
    display: inline-block;
    margin-left: 50px;
    }
   .container .back {
        display: inline-block;
        text-align: right;
        position:relative;
    
    transform: translateY(-15%);
    right: -450px;
   }
   .container .back .back-to-top{
    display: block;
   }
.roscha{
    text-align: center;
    font-size: 2.5rem;
   padding: 10rem 0;
}
.roscha .text{
    margin: 5%;
    position: relative;
    top:-60px;
}
.roscha .text h2{
    position:relative;
    top:-40px;
}
.roscha img{
    width: 70%;
}
.roscha .img .left{
    margin-left: 50px;
    width: 6%;
   position: relative;
   top:-350px;
}
.roscha .img .right{
  display: block;
  margin-left:auto ;
  margin-right: 50px;
    width: 6%;
   position: relative;
   top:-420px;
   text-align: right;
}
a{
    text-decoration: none;
}


