body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: azure;
  width: 90%;
  max-width: 500px;
  display: grid;
  text-align: center;
  border: 3px solid #21aea0;
  border-radius: 10px;
  box-shadow: 0 0 20px azure;
}
.game-board {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 3px solid #21aea0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
}

#game-board {
  display: grid;
  gap: 5px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}
#reset-game {
  background-color: #ffffff;
  border: 3px solid #21aea0;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}
#status {
  margin-top: 10px;
  font-weight: bold;
}
#grid-size,
#win-condition {
  background-color: rgb(255, 255, 255);
  border: 3px solid #21aea0;
  border-radius: 10px;
}
