* {
    color: white;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    font-family:'Century Gothic';
    width: 70%;
    margin: 5% auto;
    font-weight: 500;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    background-color: #f1b2f5;
    border-radius: 2vw;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    font-weight: 500;
    width: 30vw;
    height: 3vw;
    border-radius: 1vw;
    border: 0;
    color: black;
    padding-left: 1vw;
    font-size: 1.2vw;
  }
  
  input:focus {
    outline: none;
  }
  
  form {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-row-gap: 2vw;
    grid-column-gap: 1vw;
    width: 50vw;
    margin-bottom: 5vw;
    justify-items: center;
    align-items: center;
  }
  
  .form p {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }
  
  #delivery {
    grid-column: span 2;
    padding: 1vw;
    width: 100%;
  }
  
  #package {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1vw;
    margin: 0;
  }
  
  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }
  
  .offerPic {
    width: 10vw;
  }
  
  input[type="radio"] {
    height: 2vw;
    width: 2vw;
  }
  
  input[type="color"] {
    height: 6vw;
    width: 6vw;
    border-radius: 0;
    padding: 0;
    justify-self: left;
    margin-left: 1.7vw;
    background-color: initial;
  }
  
  #buttonSubmit {
    grid-column: span 2;
    width: 100%;
    color: #f1b2f5;
    border: 0.2vw solid white;
    background-color: white;
    font-size: 2vw;
  }
  
  #buttonSubmit:hover {
    color: white;
    background-color: #f1b2f5;
    border: 0.2vw solid white;
    transition: 0.3s;
  }
  
  label {
    display: flex;
    flex-direction: row-reverse;
    gap: 1vw;
    justify-content: right;
    margin-right: 35%;
    height: auto;
  }
  
  fieldset {
    border: 0.2vw solid white;
    border-radius: 1vw;
  }