* {
  font-family: Geneva, Tahoma, sans-serif;
  color: white;
}
body {
  margin: 0;
}
.container {
  margin: 4% auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 128, 255, 0.362);
  border-radius: 20px;
}
.video_container {
  margin: 30px;
  width: 85%;
  position: relative;
}

video {
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  gap: 1vw;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
#audio {
  margin-bottom: 30px;
}
img,
input {
  cursor: pointer;
}
.icon {
  margin: 0 30px;
}
