body {
  width: 80%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: #1e1e2f;
  color: white;
}

.header {
  background-color: #f387dd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: nowrap;
gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 30px;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 14px;
  color: #000;
}

.header .nav {
  display: flex;
align-items: center;  
}

.header .nav a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.header-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: black;
  margin-right: 100px;
}

.socialMedia {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.socialMedia img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 130px;
  background-image: url("images/header.jpg");
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
  aspect-ratio: 2710 / 1549;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #ddd;
}

.catalog-button {
  background-color: #f387dd;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.why-us {
  background-color: #1e1e2f;
  color: #fff;
  padding: 40px 20px;
  text-align: left;
}

.why-us h2 {
  font-size: 26px;
  font-weight: bold;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.feature {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  text-align: left;
  transition: background-color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.feature:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.feature h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.feature p {
  font-size: 18px;
  color: #ccc;
}

.slogans {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  position: relative;
  flex: 1;
  overflow: hidden;
  margin: 10px;
}

.card-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

.card-content1 {
  position: absolute;
  bottom: 70px;
  left: 20px;
  padding: 10px;
  border-radius: 5px;
}

.card-content2 {
  position: absolute;
  top: 70px;
  left: 20px;
  padding: 10px;
  border-radius: 5px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1em;
  color: #ccc;
}

h5 {
  font-size: 26px;
  font-weight: bold;
  margin-left: 50px;
}

.catalog .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.product {
  background-color: #2c2a3a;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 300px;
}

.product img {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.product p {
  margin: 1rem 0;
  font-size: 15px;
  margin-top: 50px;
}

.product span {
  font-size: 15px;
  font-weight: bold;
  color: #ccc;
}

.reviews {
    padding: 2rem 1rem;

}

.reviews-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
  max-width: 1800px;
  margin: 0 auto;
}

.review {
  background-color: #3a374c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 570px;
  text-align: center;
}

.review img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.review h3 {
  margin: 0.5rem 0;
}

.review p {
  font-size: 15px;
  color: #ddd;
}

.review .email {
  font-weight: 300;
  font-size: 0.9rem;
  color: #ccc;
  font-family: sans-serif;
}

.numbers {
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.numbers__container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  min-width: 220px;
}

.number {
  font-size: 70px;
  font-weight: 700;
  white-space: nowrap;
}

.label {
  font-size: 20px;
  color: #ccc;
  max-width: 120px;
  line-height: 1.3;
}

.footer {
  background-color: #f387dd;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 60px 30px;
  flex-wrap: wrap;
  color: black;
}


.footer .nav  {
  margin: 0 0.5rem;
  text-decoration: none;
  font-weight: 500;
align-items: center;
display: flex;
gap: 30px;
}

@media (max-width: 768px) {
  body{
    width: 100%;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    margin-top: 10px;
    text-align: center;
  }

  .nav a {
    margin: 0 10px;
  }

  .features-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .slogans {
    flex-direction: column;  /* Карточки слоганов становятся вертикально */
    align-items: center;   /* Центрируем карточки */
  }

  .card {
    width: 80%;  /*  Уменьшаем ширину карточек, чтобы не выходили за экран */
    margin-bottom: 20px;
  }

  .reviews-wrapper {
    flex-direction: column; /* Отзывы вертикально */
    align-items: center;    /* Центрируем отзывы */
  }

  .review {
    width: 90%; /* Уменьшаем ширину отзывов */
    margin-bottom: 20px;
  }
}

/* Для экранов шириной до 480px */
@media (max-width: 480px) {
  body{
    width: 100%;
  }
   .hero {
    background: none; /* Удаляем фон */

  }

 .hero-text h1 {
    font-size: 1.8em; /* Меньший размер заголовка на мобильных */
    text-align: left; /* Центрируем заголовок */
  }

  .hero-text p {
    font-size: 0.9em; /* Меньший размер абзаца на мобильных */
  }
  .logo {
    text-align: center;
  }

  .logo img {
    margin-right: 0; /* Убираем отступ справа от логотипа */
    margin-bottom: 5px; /* Добавляем отступ снизу от картинки */
  }

  .nav {
    align-items: center;
  }

  .header-contact {
    text-align: center; /* Контакты по центру */
  }

  .features-grid {
    grid-template-columns: 1fr; /* Один столбец */
  }

  .stats {
    flex-direction: column; /* Статистика в колонку */
    align-items: center;   /* Центрируем элементы статистики */
  }

  .stat {
    margin-bottom: 20px;  /* Добавляем отступ между элементами статистики */
    text-align: center;
  }
}