*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    color: black;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    text-align: center;
    padding: 6rem 0;
    font-size: 2.5rem;
    overflow: hidden;
}
.container img{
    margin-left: 80px;
}

table {
    border: 1px solid grey;
   text-align: center;
   font-size: 2rem;
   border-collapse: collapse;
   width: 600px;
   margin-left: 30%;
   margin-bottom: 100px;
 }
 th {
    padding: 15px; 
  border: 2px solid black;
 }
 td {
   
    padding: 5px 7px;
    border: 2px solid #000000;
 }
 caption {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px; 
   }
   .geneve img{
    height: 10%;
    float: left;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
   }
.geneve p{
    font-size: 2.5rem;
    margin-bottom: 100px;
    margin-left: 50px;
}
table .stol{
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
table .point{
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
table .red{
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}